.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.todo__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  border: 1px solid lightgray;
  margin-bottom: 10px !important;
}

.status-indicator {
  position: absolute;
  top: 15%;
  left: 5%;
  background-color: #d5ddff;
  border: 2px solid #000b4b;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.connected {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
  cursor: pointer;
}

.disconnected {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.Task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Task p {
  margin: 0px;
  margin-left: 10px;
}

.Task button {
  margin-left: auto;
}

h2 {
  margin-bottom: 20px;
}

h2 i.eth {
  font-size: 1.2em;
  margin-left: 10px;
}

h3 {
  margin-top: 0px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

form .MuiFormControl-root {
  margin: 0px 5px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}