.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.todo__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  border: 1px solid lightgray;
  margin-bottom: 10px !important;
}

.status-indicator {
  position: absolute;
  top: 15%;
  left: 5%;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  background: rgb(220, 232, 255);
  border: 2px solid #000b4b;
  z-index: 10;
}

.connected {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
  cursor: pointer;
}

.disconnected {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.walletButton {
  font-size: 0.75rem;
  font-weight: bold;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #ffba7d;
  border-radius: 0.5rem;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

.walletButton>img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.walletButton:hover {
  transform: scale(1.05);
}

.Task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Task p {
  margin: 0px;
  margin-left: 10px;
}

.Task button {
  margin-left: auto;
}

h2 {
  margin-bottom: 20px;
}

h2 i.eth {
  font-size: 1.2em;
  margin-left: 10px;
}

h3 {
  margin-top: 0px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

form .MuiFormControl-root {
  margin: 0px 5px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}